.overlay {
    position: fixed;
    inset: 0px;
    background-color: rgba(86, 86, 86, 0.442);
}

.overlay_content {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}